

header {
    margin: 0;
    padding: 0.5em 0.5em;
    height: 2em;
}

.introduction {
    background-image: linear-gradient(to left,#2bc0ec,#1b81d7);
    color: #fff;
    font-size: 2em;
}

.item {
    color: #fff;
    font-size: 0.5em;
}

.left {
    height: 100%;
}

.right {
    float: right;
}


