@import "../../../variables";

$blur: 150px;
$compWidth: 260px;

.container {
    color: #fff;
    text-align: center;
}

.welcome {
    padding-top: 2em;
    padding-bottom: .5em;
    font-size: 2.2em;
}

.content {
    margin: 0 auto;
    width: 40em;
    height: 25em;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background-position: center top;
    background-size: cover;
    z-index: 1;
    box-shadow: 0 0 0 1px hsla(240,0%,100%,.3) inset,
    .1em .3em 1em rgba(7, 0, 100, 0.6);
    overflow: hidden;
}
.content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -ms-filter: blur($blur);
    -o-filter: blur($blur);
    filter: blur($blur);
    z-index: -3;
    margin: -30px;
    background-image: url($background);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.login-title {
    margin-top: 2em;
}

.login-info {
    margin-top: 2em;
    margin-bottom: 2em;
}

.username {
    width: $compWidth;
}

.password {
    width: $compWidth;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #af2e2e;
}

.errMsg {
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.forgot-div {
    margin: 0 auto;
    margin-bottom: 10px;
    width: $compWidth;
    text-align: right;
}

.forgot {
    color: #d8d5d5;
    position: relative;
    right: 0;
}

.loginBtn {
    width: $compWidth;
    color: white;
    background-color: rgb(25, 0, 138);
}

