
<div class="container">
    <div class="welcome"><span>Welcome to users management</span></div>
    <div class="content">
        <form #loginForm="ngForm" class="login-form" (submit)="loginData()">
            <h3 class="login-title">Login</h3>
            <div class="login-info">
                <span>
                    <input type="text" class="username" name="username" pInputText placeholder="Username"
                        [(ngModel)]="loginFormData.username" required  #uname="ngModel" />
                    <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="errMsg">
                        <div *ngIf="uname.errors.required">
                            Username is required.
                        </div>
                    </div>
    
                </span>
            </div>
    
            <div class="login-info">
                <div>
                    <input type="password" class="password" name="password" pInputText placeholder="Password"
                        [(ngModel)]="loginFormData.pwd" required #pwd="ngModel" />
    
                    <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="errMsg">
                        <div *ngIf="pwd.errors.required">
                            Password is required.
                        </div>
                    </div>
    
                </div>
            </div>

            <div class="forgot-div">
                <a class="forgot" href="#">Forgot Password?</a>
            </div>
    
            <button pButton class="loginBtn" type="submit" label="Login" [disabled]="!loginForm.form.valid"></button>

        </form>
        <div class="warningMsg">
            <p-messages [(value)]="warningMsg"></p-messages>
        </div>
        
    </div>
</div>
