<form #btnD="ngForm" action="">
    <div class="content">
        <div class="box">
            <div class="full-name">
                <span class="label">Full name</span>
                <div class="ui-inputgroup component-group">
                    <span class="ui-inputgroup-addon"><i class="fa fa-coffee"></i></span>
                    <input name="fullName" 
                        class="component"
                        [(ngModel)]="user.fullname" 
                        required type="text" 
                        pInputText
                        placeholder="Fullname" 
                        #fullname="ngModel" 
                        minlength={{psdMinLen}} 
                        maxlength={{psdMaxLen}} />
                </div>
    
                <div class="err">
                    <span *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="errMsg">
                        <span *ngIf="fullname.errors.required">
                            Full name is required.
                        </span>
                        <span *ngIf="fullname.errors.minlength">
                            Full name must be at least {{ psdMinLen }} characters long.
                        </span>
                        <span *ngIf="fullname.errors.maxlength">
                            Full name must be at most {{ psdMaxLen }} characters long.
                        </span>
                    </span>
                </div>
            </div>
            <div class="user-name">
                <span class="label">Username</span>
                <div class="ui-inputgroup component-group">
                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                    <input name="username"
                        class="component"
                        [(ngModel)]="user.username" 
                        required type="text" 
                        pInputText
                        placeholder="Username" 
                        #username="ngModel" 
                        minlength={{psdMinLen}} 
                        maxlength={{psdMaxLen}} />
                </div>
                <div class="err">
                    <span  *ngIf="username.invalid && (username.dirty || username.touched)"   class="errMsg">
                        <span *ngIf="username.errors.required">
                            Username is required.
                        </span>
                        <span *ngIf="username.errors.minlength">
                            User name must be at least {{ psdMinLen }} characters long.
                        </span>
                        <span *ngIf="username.errors.maxlength">
                            User name must be at most {{ psdMaxLen }} characters long.
                        </span>
                    </span>
                </div>
            </div>
            <div *ngIf="btnDisplay===0" class="password">
                <span class="label">Password</span>
                <div class="ui-inputgroup component-group">
                    <span class="ui-inputgroup-addon"><li class="fa fa-user-secret"></li></span>
                    <input #pwd="ngModel" 
                        name="password" 
                        class="component"
                        [(ngModel)]="user.pwassword" 
                        required type="password" pPassword
                        placeholder="Password" 
                        minlength={{psdMinLen}} 
                        maxlength={{psdMaxLen}} />
                </div>
                <div class="err">
                    <span  *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)"   class="errMsg">
                        <span *ngIf="pwd.errors.required">
                            Password is required.
                        </span>
                        <span *ngIf="pwd.errors.minlength">
                            Password must be at least {{ psdMinLen }} characters long.
                        </span>
                        <span *ngIf="pwd.errors.maxlength">
                            Password must be at most {{ psdMaxLen }} characters long.
                        </span>
                    </span>
                </div>
            </div>
            <div class="roleSelect">
                <span class="label">Role</span>
                <div class="ui-inputgroup component-group">
                    <span class="ui-inputgroup-addon dropdown-w"><i class="fa fa-bars"></i></span>
                    <p-dropdown [options]="cars" name="roleSelect" class="component" [(ngModel)]="user.role"></p-dropdown>
                </div>
            </div>
    
            <div class="component-group">
                <button pButton
                    name="submitBtn"
                    class="submitBtn"
                    [disabled]="!btnD.form.valid" 
                    (click)="submit()"  
                    type="button"
                    label="Add">
                </button>
            </div>
        </div>
    </div>
</form>