/* You can add global styles to this file, and also import other style files */


body {
    padding: 0; 
    margin: 0;

    background: url('/assets/images/bg_blue.jpg') no-repeat fixed;
    background-size: 100%;
}

.userheader {
    position:fixed; 
    margin-top: 0; 
    top: 0;
    width:100%; 
    z-index:9999;
}

.headerBlank {
    margin-top: 4em;
}
